<VirtualHost 192.168.1.126:443>

	DocumentRoot /opt/websites/pdns/powerdns-webui

	<Proxy http://192.168.5.233:8081/*>
		Allow from all
	</Proxy>

	<location /api>
		Header add X-API-Key "Dev-Key"
		RequestHeader set X-API-Key "Dev-Key"
		ProxyPass http://127.1.0.1:8081/api
		ProxyPassReverse http://127.1.0.1:8081/api
	</location>

</VirtualHost>
