master=yes

cache-ttl=5

# loglevel=6

# also-notify=192.168.5.230
# only-notify=192.168.5.230

query-local-address=192.168.1.125
local-address=192.168.1.125,127.0.0.1,127.1.0.1
local-ipv6=
dnsupdate=yes
allow-dnsupdate-from=127.0.0.0/8,192.168.0.0/16

allow-axfr-ips=127.0.0.0/8,192.168.0.0/16

webserver=yes
webserver-address=127.1.0.1
webserver-allow-from=127.0.0.0/8
webserver-password=Dev-Key
api=yes
api-key=Dev-Key

launch=gmysql
gmysql-socket=/tmp/mysql.sock
gmysql-user=pdns
gmysql-password=X7XI2xlVQubHE
gmysql-dbname=pdns
gmysql-dnssec=yes


